/* UNIVERSAL */
a:hover {
    text-decoration: none;
}
.container {
    padding-top:62px;
    z-index:5;
    overflow: auto;
}

/* HEADER */
#headerSection {
    background: url("../imgs/mountain-sunset.jpg");
    height: 100vh;
    z-index: 9!important;
}

.navbar {
    font-family: 'Montserrat', sans-serif;
    background-color: transparent!important;
    z-index: 10!important;
}

.navbar-hidden {
    height: 62px;
    z-index: 8!important;
    background-color: #ffffff!important;
}

.nav-item {
    color: #692a14!important;
    font-size: 1.25em;
    font-weight: bold;
}

.display-4, .my-4, .lead {
    color: #692a14!important;
}

.fa.fa-connectdevelop, .fa.fa-linkedin, .fa.fa-github-alt {
    color: #692a14!important;
    font-size: 2em;
}

/* ABOUT */
#aboutSection {
    color: #692a14!important;
    margin-top: 125px;
    margin-left: 9px;
    height: 100vh;
}

/* PROJECTS */
#projectSection {
    color: #692a14!important;
    margin-top: 72px;
    margin-left: 9px;
    height: 100vh;
}

/* SKILLS */
#skillSection {
    color: #692a14!important;
    margin-top: 72px;
    margin-left: 9x;
    height: 100vh;
}

/* CONTACT */
#contactSection {
    color: #692a14!important;
    margin-top: 72px;
    margin-left: 9px;
    height: 100vh;
}

.btn-outline-primary {
    border-color: #692a14!important;
    color: #692a14!important;
}

.btn-outline-primary:hover {
    border-color: #692a14!important;
    background-color: #692a14!important;
    color: #ffffff!important;
}

/* FOOTER */
.footer {
    color: #692a14!important;
    margin-top: 72px;
}